@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$max-width: 1400px;
$default-margin: 0;
$default-padding: 0;

$font-family: "Nunito", sans-serif;
$peso-cuerpo: 400;
$peso-titulos: 700;
$size-cuerpo: 1rem;
$cuerpo: #{$peso-cuerpo} #{$size-cuerpo} $font-family;
$peso-titulos: 700;
$h1: $peso-titulos $size-cuerpo*3 $font-family;
$h2: $peso-titulos $size-cuerpo*2 $font-family;
$h3: $peso-titulos $size-cuerpo*1.5 $font-family;
$menu:$peso-titulos $size-cuerpo*1.1 $font-family;
$pie: $peso-cuerpo $size-cuerpo*0.8 $font-family;

$foreground: #333;
$background: #eee;
$item-hover:#ccc;




html{

    max-width: $max-width;
    margin: 0 auto;
}

body{
    font: $cuerpo;
}


h{
    &1{
        font: $h1
    }
    &2{
        font: $h2
    }

    &3{
        font: $h3
    }
}

header{
    background-color: $background;
    padding: 0.5em;
    img{
        width: 10%;
        float: left;
    }
    text-align: center;

    h1, h2{
        width: 90%;
        margin: $default-margin;
        
    }

    a{
        text-decoration: none;
        color: $foreground;
    }
}

nav {

    background-color: $background;
    text-align: center;
    color: $foreground;
    padding: 0.1 em;
    margin: 0.5em 0 0 0;
    text-transform: uppercase;

    ul{
        list-style: none;
        margin: $default-margin;
        li{
            display: inline-block;
            margin: $default-margin;
            padding: 0.2em;
            font:$menu;

            a{
                text-decoration: none;
                &:hover{
                    color: $item-hover;
                }
            }
        }

    }
}

section {
    min-height: 20em;
}

footer{

    text-align: center;
    div{
        background-color: $background;
        margin-bottom: 0.5em;
        padding: 0.2em 0 0 0;
        img{
            width: 3em
        }
        a{
            text-decoration: none;
        }
    }
    p{
        background-color: $background;
        margin: $default-margin;
        font:$pie;
        a{
            text-decoration: none;
            color: $foreground;
            &:hover{
                font-weight: $peso-cuerpo;
            }
        }
    }
}